
    <footer class="footer mt-6">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-2 is-5 p-3">
            Tutti i materiali contenuti in questa pagina sono liberi <br>
            Creative Commons (<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">BY-NC-SA 4.0</a>) <br>
            Tema basato sul lavoro di Gonzalo Gutierrez.<br>
            Illustrazione di David Parkins.<br>
          </div>
          <div class="column is-one-quarter">
            <figure class="image">
              <img src="/assets/powered_by_dyne.png" alt="">
            </figure>
          </div>
        </div>
      </div>
    </footer>
    <script src="/lib/main.js"></script>
