<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="DECIDIAMO. - development and servicing of open source platforms for digital democracy" \>
  <meta name="keywords" content="decidiamo.it, decidiamo, dyne, rousseau, m5s, democrazia, partecipativa, open source" />
  <meta name="author" content="Dyne.org">
  <meta name="generator" content="">
  <meta name="robots" content="noindex">

  <title>DECIDIAMO. - Participatory democracy and digital sovereignty</title>

  <link href="/css/main.css" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" />
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png">
  <link rel="icon" href="/assets/Emblem32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/assets/Emblem16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/assets/manifest.json">
  <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#0066CC">
  <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#0066CC">

  <!-- Twitter -->
  <meta name="twitter:creator" content="Dyne.org">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@https://twitter.com/DyneOrg">
  <meta name="twitter:title" content="We decide. With free and open source technology">
  <meta name="twitter:description"
  content="Development and servicing of open source platforms for digital democracy" \>
  <meta name="twitter:image" content="https://decidiamo.it/assets/illustration.png">
  <link rel="twitter" type="text/html" href="http://twitter.com/DyneOrg">

  <!-- Facebook -->
  <meta property="og:url" content="/">
  <meta property="og:title"
  content="We decide. With free and open source technology">
  <meta property="og:description"
  content="Development and servicing of open source platforms for digital democracy" \>
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://decidiamo.it/assets/illustration.png">
  <meta property="og:image:secure_url" content="https://decidiamo.it/assets/illustration.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1172">
  <meta property="og:image:height" content="891">
</head>
