    <section class="hero is-primary mb-6">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-12">
            <div class="container content has-text-centered">
              <h1 class="title decidiamo">DECIDIAMO<span class="has-text-warning">.</span></h1>
              <h3 class="subtitle">
              DECIDIAMO.<br /> Participatory democracy and digital sovereignty
              </h3>

              <a href="/news.html" target="_blank" class="button is-primary is-large">
                <span class="icon">
                  <i class="fas fa-newspaper"></i>
                </span> 
                <span>News</span>
              </a>

              <a href="https://web.whatsapp.com/send?phone=31626455733" target="_blank" class="button is-primary is-large">
                <span class="icon">
                  <i class="fab fa-whatsapp"></i>
                </span>
                <span>Contact</span>
              </a>

              <a href="https://github.com/decidiamo" target="_blank" class="button is-primary is-large">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Github</span>
              </a>
              <a href="https://www.linkedin.com/company/forkbomb" target="_blank" class="button is-primary is-large">
                <span class="icon">
                  <i class="fab fa-linkedin"></i>
                </span>
                <span>Linkedin</span>
              </a>
<!--
              <a href="https://facebook.com/decidiamo.org" target="_blank" class="button is-primary is-large">
                <span class="icon">
                  <i class="fab fa-facebook"></i>
                </span>
                <span>Facebook</span>
              </a>
-->
               <a href="https://t.me/decidiamoit" target="_blank" class="button is-primary is-large">
                <span class="icon">
                  <i class="fab fa-telegram"></i>
                </span>
                <span>Telegram</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
