  <section class="hero is-primary mb-6">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-12">
          <div class="container content has-text-centered">
            <h1 class="title decidiamo">DECIDIAMO<span class="has-text-warning">.</span></h1>
            <h3 class="subtitle">
            Associazione informale della comunità DECIDIAMO <br> per la democrazia partecipativa e la sovranità digitale
            </h3>
            <a href="https://github.com/decidiamo" target="_blank" class="button is-primary is-large">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>Github</span>
            </a>
            <a href="https://twitter.com/OpenRousseau" target="_blank" class="button is-primary is-large">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
              <span>Twitter</span>
            </a>
             <a href="https://t.me/decidiamoit" target="_blank" class="button is-primary is-large">
              <span class="icon">
                <i class="fab fa-telegram"></i>
              </span>
              <span>Telegram</span>
            </a>
            <a href="https://openrousseau.org" target="_blank" class="button is-primary is-large">
              <span class="icon">
                <i class="fab fa-link"></i>
              </span>
              <span>OpenRousseau</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
