  <nav class="navbar is-primary">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/assets/Logotype150.png" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <!-- <div id="navbarMenu" class="navbar-menu"> -->
      <!--   <div class="navbar-end"> -->
      <!--     <a class="navbar-item {{#home}}is-active{{/home}}" href="/"> -->
      <!--       Home -->
      <!--     </a> -->
      <!--     <a class="navbar-item {{#comunicati}}is-active{{/comunicati}}"" href="comunicati.html"> -->
      <!--       Comunicati -->
      <!--     </a> -->
      <!--     <a class="navbar-item {{#news}}is-active{{/news}}"" href="news.html"> -->
      <!--       News -->
      <!--     </a> -->
      <!--   </div> -->
      <!-- </div> -->
    </div>
  </nav>
