<!doctype html>
<html lang="it">
  {{>header}}


<body>
  {{> navbar}}
  {{> hero}}
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <figure class="image">
          <img src="/assets/illustration.png" alt="">
        </figure>
      </div>
    </div>
  </div>
  <div class="container manifesto">
    <div class="columns">
      <div class="column is-8 is-offset-2 p-3">
        <markdown>
# Il sogno

Occorre un insieme di strumenti ed idee per realizzare quel
che chiamiamo Democrazia.

Assieme al coraggio di un’utopia, in presenza di un movimento
popolare, le tecnologie partecipative possono aiutarci a gestire in
modo democratico il potere: facilitano la partecipazione di piu'
persone, aiutano a considerare piu' opinioni diverse e facilitare la
trasparenza.

Oggi con l’aumento di velocità delle informazioni e interconnessione
dei sistemi è possibile implementare sistemi decisionali efficienti,
inclusivi e gestiti collettivamente per rispecchiare il volere delle
comunità di persone.

La nostra iniziativa e' quella di creare una comunita' di produzione e
condivisione di saperi e strumenti per le pratiche di tecno-politica
mirate ad una maggiore partecipazione dei cittadini nei processi
decisionali che li riguardano.

# Chi siamo

Il promotore principale di questa iniziativa è la [fondazione
non-profit Dyne.org](https://dyne.org), una rete di professionisti del
software libero, attivisti ed artisti sin dal 1999.

Dyne.org ha [prodotto e distribuito software](https://github.com/dyne)
ottenendo un impatto enorme sul panorama tecnologico e politico
internazionale.

# La prassi

L’approccio che seguiamo per realizzare i nostri sogni è pragmatico:
lo sviluppo e l’utilizzo di programmi informatici liberi, i sorgenti
dei quali sono aperti e verificabili.

Collaboriamo direttamente con attivisti, cittadini, funzionari di
partito e pubblica amministrazione per comprendere come operare al
meglio delle possibilita', snellendo e migliorando la gestione dei
processi di comunicazione e partecipazione.

Abbiamo cominciato a studiare questo tipo di tecnologie [già da molti
anni](https://dcentproject.eu), ci ha affascinato l'esperienza della
piattaforma libera ed open source [DECIDIM](https://decidim.org) e
lavoriamo in stretto contatto con la loro associazione.

Godiamo di comprovata esperienza tecnica nello sviluppo di componenti
software su misura, messa in onda di piattaforme in grado di reggere
centinaia di migliaia di utenti, produzione di analisi dati ex-post
sull'uso delle stesse.

Oggi vogliamo facilitare **una rivoluzione democratica e trasversale
del modo di fare politica** e lo vogliamo fare professionalmente,
garantendo affidabilita' e sicurezza.

# Gli strumenti

Tutto il software che utilizziamo per implementare i nostri sistemi
gira su sistemi operativi liberi e gratuiti, di cui forse avrete già
sentito parlare: si chiamano [GNU/Linux](https://www.linux.it).

Usiamo questi sistemi perché sono più affidabili e ci garantiscono
piu' controllo dato che possiamo studiare, leggere, modificare e
redistribuire i loro codici.  Liberi di imparare e sviluppare già da
molti anni nella cosiddetta "era dell’informazione", oggi siamo
arrivati così lontano da poter pensare di cambiare il modo di fare
politica e di governare.

        </markdown>

        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube-nocookie.com/embed/H4huxiHOVZs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>

      </div>
    </div>
  </div>
  {{>footer}}
</body>
</html>
