<!doctype html>
<html lang="dk">
  {{>header}}


<body>
  {{> navbar}}
  {{> hero}}
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <figure class="image">
          <img src="/assets/illustration.png" alt="">
        </figure>
      </div>
    </div>
  </div>
  <div class="container manifesto">
    <div class="columns">
      <div class="column is-8 is-offset-2 p-3">
        <markdown>
# Drømmen
Et moderne sæt værktøjer og ideer er nødvendige for at realisere det, vi kalder demokrati.

Participatoriske teknologier kan hjælpe os med at styre magten inden for en folkebevægelse: disse teknologier giver flere mennesker mulighed for at deltage i beslutninger på en demokratisk måde, de hjælper med at lytte og overveje flere forskellige meninger med en højere gennemsigtighed.

I nutidens øgede informationshastighed og systemernes kompleksitet gør participatoriske teknologier det muligt at implementere effektive, inkluderende og kollektivt forvaltede beslutningssystemer for at afspejle ideerne og hensigterne hos menneskers fællesskaber.

Målet med vores teknologier er at skabe et fællesskab, der producerer og deler viden og værktøjer til tekno-politiske praksisser for en mere inkluderende deltagelse af borgere i beslutningsprocesser, der påvirker dem.

# Om os

Den non-profit fond Dyne.org er et netværk af fri software-professionelle, aktivister og kunstnere siden 1999. Dyne.org har produceret og distribueret software, der har en enorm indflydelse på det internationale teknologiske og politiske landskab.

Dyne.org-udviklere i 2022 har grundlagt en virksomhed: [the Forkbomb Company](https://forkbomb.eu) klar til at levere tjenester og højkvalitets softwareudvikling til platforme for participatorisk demokrati, der er implementeret af politiske partier, kommuner og store organisationer.

# Vores praksis

Vi udvikler og bruger software, der er gratis, open source og verificerbar, som enhver demokratisk proces bør være.
Vi arbejder i tæt kontakt med udviklerne af [DECIDIM](https://decidim.org).
 
Blandt vores kunder er det italienske demokratiske parti, for dem implementerede vi [Agora' Democratiche](https://www.agorademocratiche.it/).

Vi samarbejder direkte med aktivister, borgere, embedsmænd og offentlig forvaltning for at forstå, hvordan vi bedst fungerer, hvordan vi effektiviserer og forbedrer styringen af on-line kommunikation og on-site deltagelsesprocesser.

Vi har en track record af teknisk ekspertise inden for udvikling af brugerdefinerede softwarekomponenter, udsendelse af platforme, der er i stand til at understøtte hundredtusindvis af brugere, produktion af dataanalyse om deres brug.

I dag ønsker vi at facilitere en demokratisk revolution i måden at drive politik på og samtidig garantere pålidelighed og sikkerhed for vores brugere.

# Værktøjerne

Den software, vi bruger og udvikler, kører på GNU/Linux-systemer.

Vi bruger disse systemer på grund af deres pålidelighed, og fordi de giver os mere kontrol, da vi kan studere, læse, ændre og omfordele kildekoden.

# Kontakt os
Andrea D'Intino 
+45 91 76 72 94
info@dyne.org

Vores filosofi er at bruge friheden og etikken i open source til at ændre den måde, vi driver politik og regerer på.
        </markdown>
<!--
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube-nocookie.com/embed/H4huxiHOVZs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </figure>
-->

      </div>
    </div>
  </div>
  {{>footer}}
</body>
</html>
