<!doctype html>
<html lang="it">
  {{>header}}


<body>
  {{> navbar}}
  {{> hero}}
  <div class="container manifesto">
    <div class="columns">
      <div class="column is-8 is-offset-2 p-3">
        <markdown>
# Il sogno

Occorre un insieme di strumenti ed idee per realizzare quel
che chiamiamo Democrazia.

Assieme al coraggio di un’utopia, in presenza di un movimento
popolare, le tecnologie partecipative possono aiutarci a gestire in
modo democratico il potere: aiutano a contare opinioni diverse e
facilitare la trasparenza.

Oggi con l’aumento di velocità delle informazioni e interconnessione
dei sistemi è possibile implementare sistemi decisionali efficienti,
inclusivi e gestiti collettivamente per rispecchiare il volere delle
comunità di persone.

# Chi siamo

Il promotore principale di questa iniziativa è la [fondazione
non-profit Dyne.org](https://dyne.org), una rete di professionisti del
software libero, ma anche di attivisti e di artisti in contatto sin
dal 1999.

Dyne.org ha [prodotto e distribuito software](https://github.com/dyne)
ottenendo un impatto enorme sul panorama tecnologico e politico
internazionale, non ultimo il sistema operativo
[Dyne:bolic](https://dynebolic.org) il cui uso è raccomandato dallo
stesso progetto GNU, adottato e redistribuito in svariate università
ed istituti di ricerca nel mondo.

Per più di 20 anni siamo cresciuti in modo del tutto indipendente
sotto il vessillo di una fondazione non-profit raccogliendo tanto
apprezzamento per quel che facciamo con il computer, a giudicare solo
dalla quantità di [libri che parlano di
Dyne.org](https://www.google.com/search?tbm=bks&q=dyne.org).

# La prassi

L’approccio che seguiamo per realizzare i nostri sogni è pragmatico:
lo sviluppo e l’utilizzo di programmi informatici liberi, i sorgenti
dei quali sono aperti e verificabili.

Abbiamo cominciato a studiare questo tipo di tecnologie [già da molti
anni](https://dcentproject.eu), ci ha affascinato l’uso di Rousseau
fatto dal Movimento 5 Stelle in Italia come anche l’adozione di Liquid
Feedback da parte dei Partiti Pirata in giro per l’Europa e più di
tutti lo sviluppo della piattaforma libera ed open source
[DECIDIM](https://decidim.org) da parte di attivisti in Spagna.

Oggi vogliamo facilitare **una rivoluzione democratica e trasversale
del modo di fare politica in Italia**.

# Gli strumenti

Tutto il software che utilizziamo per implementare i nostri sistemi
gira su un sistema operativo libero e gratuito, di cui forse avrete
già sentito parlare: si chiama [GNU/Linux](https://www.linux.it).

Usiamo questo sistema perché è più affidabile, dato che possiamo
studiare, leggere, modificare e redistribuire ogni suo codice. E lo
possiamo fare tutti, nessuno escluso. Liberi di imparare e sviluppare
già da molti anni nella cosiddetta "era dell’informazione", oggi siamo
arrivati così lontano da poter pensare di cambiare il modo di fare
politica e di governare.

        </markdown>

        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube-nocookie.com/embed/H4huxiHOVZs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>

      </div>
    </div>
  </div>
  {{>footer}}
</body>
</html>
