<!doctype html>
<html lang="it">
  {{>header}}


<body>
  {{> navbar}}
  {{> hero}}
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <figure class="image">
          <img src="/assets/illustration.png" alt="">
        </figure>
      </div>
    </div>
  </div>
  <div class="container manifesto">
    <div class="columns">
      <div class="column is-8 is-offset-2 p-3">
        <markdown>
# The Dream
A modern set of tools and ideas is needed to realize what we call Democracy.

Together with the courage of a utopia, in the presence of a popular movement, participatory technologies can help us to manage power in a democratic way: they facilitate the participation of more people, help to consider more different opinions and facilitate transparency.

Today, with the increased speed of information and interconnectedness of systems, it is possible to implement efficient, inclusive and collectively managed decision-making systems to reflect the will of communities of people.

Our initiative is to create a community of production and sharing of knowledge and tools for techno-political practices aimed at a greater participation of citizens in decision-making processes that affect them.

# Who we are

The non-profit foundation Dyne.org is a network of free software professionals, activists and artists since 1999. Dyne.org has produced and distributed software making a huge impact on the international technological and political landscape.

Dyne.org developers in 2022 have created a company: [the Forkbomb Company](https://forkbomb.eu) ready to provide services and high-quality custom software development for participatory democracy platforms deployed by political parties, municipalities and large scale organizations.

# The practice

We develop and use free software: our sources are open and verifiable, as it should be every democratic process.
We work in close contact with the [DECIDIM](https://decidim.org) developers.
 
Among our clients is the Italian Democratic Party for which we do [Agora' Democratiche](https://www.agorademocratiche.it/).

We collaborate directly with activists, citizens, officials, and public administration to understand how to operate at the best of possibilities, streamlining and improving the management of on-line communication and on-site participation processes.

We have proven technical expertise in the development of custom software components, broadcasting of platforms capable of supporting hundreds of thousands of users, production of ex-post data analysis on their use.

Today we want to facilitate a democratic and transversal revolution in the way of doing politics and we want to do it professionally, guaranteeing reliability and security to our clients.

# The tools

All the software we use to implement our systems run on GNU/Linux systems.

We use these systems because they are more reliable and give us more control since we can study, read, modify, and redistribute their code. Today we have come so far that we use the freedom and ethics of open source to change the way we do politics and govern.
        </markdown>
<!--
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube-nocookie.com/embed/H4huxiHOVZs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </figure>
-->

      </div>
    </div>
  </div>
  {{>footer}}
</body>
</html>
