@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


// Update Bulma's global variables
$family-serif: "Merriweather", serif;
$family-primary: $family-serif;
$primary: #0066CC;
@import "../node_modules/bulma/bulma.sass";

h1.decidiamo {
	font-weight: 900;
	font-family: Montserrat, sans-serif;
	font-size: 8rem;
	@extend .is-size-1-touch;
}

.manifesto {
	h1, h2, h3 {
		@extend .has-text-centered;
	  @extend .is-size-1-touch;
		font-size: 4rem;
		font-weight: 900;
		text-shadow: 4px 4px 2px lightgray;
		margin-top: 50px;
		margin-bottom: 20px;
		color: $primary;
	}
}


p {
	@extend .is-primary;
	@extend .has-text-justified;
	@extend .is-size-5-touch;
	@extend .mb-3;
	@extend .px-3;
	font-size: 1.5rem;
	line-height: 1.5;
}

.footer {
	@extend .has-background-dark;
	@extend .has-text-light;
	@extend .is-size-6;
	strong {
		@extend .has-text-light;
	}
}
/*
.is-shady {
	animation: flyintoright .4s backwards;
	background: #fff;
	box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
	border-radius: 4px;
	display: inline-block;
	margin: 10px;
	position: relative;
	transition: all .2s ease-in-out;
}
.is-shady:hover {
	box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

.manifesto {
	p {
		@extend .is-shady;
		&:hover {
			@extend .is-shady:hover;
		}
	}
}
*/